# DATA INTEGRATION

### Data Integration is a data preprocessing technique that combines data from multiple heterogeneous data sources into a single dataset and provides a unified view of the data. These sources may include multiple databases, or flat files.

# Issues in Data Integration: 
##### There are three issues to consider during data integration: Schema Integration, Redundancy Detection, and resolution of data value conflicts. These are explained in brief below. 

## 1. Schema Integration: 
* Integrate metadata from different sources.
* The real-world entities from multiple sources are referred to as the entity identification problem.

## 2. Redundancy: 
* An attribute may be redundant if it can be derived or obtained from another attribute or set of attributes.
* Inconsistencies in attributes can also cause redundancies in the resulting data set.
* Some redundancies can be detected by correlation analysis.

## 3. Detection and resolution of data value conflicts: 
* This is the third critical issue in data integration.
* Attribute values from different sources may differ for the same real-world entity.
* An attribute in one system may be recorded at a lower level of abstraction than the “same” attribute in another.

# Approaches

## Joining two Data Frames:

In [8]:
import pandas as pd
df1 = pd.read_csv('csv files/student.csv')
df1

        Reg_no                                   Name
0   393CS20001              ABHINAV PRASANNA  NAIKODI
1   393CS20002                          AKASH  TORAVI
2   393CS21702               BIRADAR GURURAJ SIDHARUD
3   393CS20005                DUGIWADE PRACHI  SANJAY
4   393CS21703                   GURUNATH  DESHAPANDE
5   393CS20006           HARSHAD MAHAMMADSAB  WALIKAR
6   393CS20007                    IRAMNAAZ  JAMKHANDI
7   393CS20008                   JAHID ALI  BALABATTI
8   393CS20009                KRISHNA MAHADEV  JADHAV
9   393CS20010                        LAXMI  NAVALAGI
10  393CS20011                      MAIBOOBSAB  NADAF
11  393CS21704                   MANJU SHIVAJI CHAVAN
12  393CS20012                  MISBA BUDANSAB  MOMIN
13  393CS20013                   MODI AVADOOT  MAHESH
14  393CS20015                     NADAF NIHAL  NASIM
15  393CS20016                    NANDINI NITIN  MODI
16  393CS20017               NEELAVANI VARSHA  VITTAL
17  393CS20018                            NEHA  PATIL
18  393CS20019                              NIKHEEL
19  393CS20020                POOJA RAJSHEKHAR  ARABI
20  393CS20022                       PRAJWAL D  DHAGE
21  393CS20023                        RENUKA  ARAKERI
22  393CS20024                        ROSHANI  KUMARI
23  393CS20025  SACHIDANANDA MADIVALESHA  BEVINAMARAD
24  393CS20026                   SHAREEKA  GUDIYATTAM
25  393CS21706                   SNEHA ASHOK DODAMANI
26  393CS20028                        SPURTI S  PATIL
27  393CS20029                       TANISHK  BIRADAR
28  393CS20030                         UMARBIN  PATIL
29  393CS21707                       VARSHA  GALAGALI
30  393CS20031                 VIDYA BABUGOUDA  PATIL
31  393CS20032                       VIVEK  CHOUDHARY
32  393CS17009          HAVINAL SHRIDHAR  MALLIKARJUN
33  393CS17015                     OMKAR  SHARANARTHI
34  393CS17018                        RAHUL  BADAKURI
35  393CS21702               BIRADAR GURURAJ SIDHARUD
36  393CS21703                   GURUNATH  DESHAPANDE
37  393CS21704                   MANJU SHIVAJI CHAVAN
38  393CS21706                   SNEHA ASHOK DODAMANI
39  393CS21707                       VARSHA  GALAGALI

In [9]:
import pandas as pd
df2 = pd.read_csv('csv files/marks.csv')
df2

    PP  DSP
0   97   47
1   97   52
2   75   21
3   11   23
4   87   92
5   45   78
6   97   17
7   23   45
8   87   65
9   61   39
10  33   39
11  53   44
12  56   62
13  22   65
14  45   20
15  25   15
16  90   95
17  31   94
18  93    3
19  41   89
20  32   57
21  90   91
22  76   72
23  17   30
24  58   49
25   4   24
26  86   70
27  24   87
28  20   11
29  37   58
30  95   77
31  61   84
32  88   83
33  76   31
34   7   31
35  77   70
36  43   27
37  10   14
38  90   22
39  44   45

In [10]:
df = pd.concat([df1, df2], axis=1, join='inner')
df

        Reg_no                                   Name  PP  DSP
0   393CS20001              ABHINAV PRASANNA  NAIKODI  97   47
1   393CS20002                          AKASH  TORAVI  97   52
2   393CS21702               BIRADAR GURURAJ SIDHARUD  75   21
3   393CS20005                DUGIWADE PRACHI  SANJAY  11   23
4   393CS21703                   GURUNATH  DESHAPANDE  87   92
5   393CS20006           HARSHAD MAHAMMADSAB  WALIKAR  45   78
6   393CS20007                    IRAMNAAZ  JAMKHANDI  97   17
7   393CS20008                   JAHID ALI  BALABATTI  23   45
8   393CS20009                KRISHNA MAHADEV  JADHAV  87   65
9   393CS20010                        LAXMI  NAVALAGI  61   39
10  393CS20011                      MAIBOOBSAB  NADAF  33   39
11  393CS21704                   MANJU SHIVAJI CHAVAN  53   44
12  393CS20012                  MISBA BUDANSAB  MOMIN  56   62
13  393CS20013                   MODI AVADOOT  MAHESH  22   65
14  393CS20015                     NADAF NIHAL  NASIM  45   20
15  393CS20016                    NANDINI NITIN  MODI  25   15
16  393CS20017               NEELAVANI VARSHA  VITTAL  90   95
17  393CS20018                            NEHA  PATIL  31   94
18  393CS20019                              NIKHEEL    93    3
19  393CS20020                POOJA RAJSHEKHAR  ARABI  41   89
20  393CS20022                       PRAJWAL D  DHAGE  32   57
21  393CS20023                        RENUKA  ARAKERI  90   91
22  393CS20024                        ROSHANI  KUMARI  76   72
23  393CS20025  SACHIDANANDA MADIVALESHA  BEVINAMARAD  17   30
24  393CS20026                   SHAREEKA  GUDIYATTAM  58   49
25  393CS21706                   SNEHA ASHOK DODAMANI   4   24
26  393CS20028                        SPURTI S  PATIL  86   70
27  393CS20029                       TANISHK  BIRADAR  24   87
28  393CS20030                         UMARBIN  PATIL  20   11
29  393CS21707                       VARSHA  GALAGALI  37   58
30  393CS20031                 VIDYA BABUGOUDA  PATIL  95   77
31  393CS20032                       VIVEK  CHOUDHARY  61   84
32  393CS17009          HAVINAL SHRIDHAR  MALLIKARJUN  88   83
33  393CS17015                     OMKAR  SHARANARTHI  76   31
34  393CS17018                        RAHUL  BADAKURI   7   31
35  393CS21702               BIRADAR GURURAJ SIDHARUD  77   70
36  393CS21703                   GURUNATH  DESHAPANDE  43   27
37  393CS21704                   MANJU SHIVAJI CHAVAN  10   14
38  393CS21706                   SNEHA ASHOK DODAMANI  90   22
39  393CS21707                       VARSHA  GALAGALI  44   45

## Adding attributes

In [11]:
df['Total'] = df['PP'] + df['DSP']
df

        Reg_no                                   Name  PP  DSP  Total
0   393CS20001              ABHINAV PRASANNA  NAIKODI  97   47    144
1   393CS20002                          AKASH  TORAVI  97   52    149
2   393CS21702               BIRADAR GURURAJ SIDHARUD  75   21     96
3   393CS20005                DUGIWADE PRACHI  SANJAY  11   23     34
4   393CS21703                   GURUNATH  DESHAPANDE  87   92    179
5   393CS20006           HARSHAD MAHAMMADSAB  WALIKAR  45   78    123
6   393CS20007                    IRAMNAAZ  JAMKHANDI  97   17    114
7   393CS20008                   JAHID ALI  BALABATTI  23   45     68
8   393CS20009                KRISHNA MAHADEV  JADHAV  87   65    152
9   393CS20010                        LAXMI  NAVALAGI  61   39    100
10  393CS20011                      MAIBOOBSAB  NADAF  33   39     72
11  393CS21704                   MANJU SHIVAJI CHAVAN  53   44     97
12  393CS20012                  MISBA BUDANSAB  MOMIN  56   62    118
13  393CS20013                   MODI AVADOOT  MAHESH  22   65     87
14  393CS20015                     NADAF NIHAL  NASIM  45   20     65
15  393CS20016                    NANDINI NITIN  MODI  25   15     40
16  393CS20017               NEELAVANI VARSHA  VITTAL  90   95    185
17  393CS20018                            NEHA  PATIL  31   94    125
18  393CS20019                              NIKHEEL    93    3     96
19  393CS20020                POOJA RAJSHEKHAR  ARABI  41   89    130
20  393CS20022                       PRAJWAL D  DHAGE  32   57     89
21  393CS20023                        RENUKA  ARAKERI  90   91    181
22  393CS20024                        ROSHANI  KUMARI  76   72    148
23  393CS20025  SACHIDANANDA MADIVALESHA  BEVINAMARAD  17   30     47
24  393CS20026                   SHAREEKA  GUDIYATTAM  58   49    107
25  393CS21706                   SNEHA ASHOK DODAMANI   4   24     28
26  393CS20028                        SPURTI S  PATIL  86   70    156
27  393CS20029                       TANISHK  BIRADAR  24   87    111
28  393CS20030                         UMARBIN  PATIL  20   11     31
29  393CS21707                       VARSHA  GALAGALI  37   58     95
30  393CS20031                 VIDYA BABUGOUDA  PATIL  95   77    172
31  393CS20032                       VIVEK  CHOUDHARY  61   84    145
32  393CS17009          HAVINAL SHRIDHAR  MALLIKARJUN  88   83    171
33  393CS17015                     OMKAR  SHARANARTHI  76   31    107
34  393CS17018                        RAHUL  BADAKURI   7   31     38
35  393CS21702               BIRADAR GURURAJ SIDHARUD  77   70    147
36  393CS21703                   GURUNATH  DESHAPANDE  43   27     70
37  393CS21704                   MANJU SHIVAJI CHAVAN  10   14     24
38  393CS21706                   SNEHA ASHOK DODAMANI  90   22    112
39  393CS21707                       VARSHA  GALAGALI  44   45     89

In [12]:
df['Percentage'] = df['Total']/200*100
df

,Reg_no,Name,PP,DSP,Total,Percentage
0,393CS20001,ABHINAV PRASANNA NAIKODI,97,47,144,72.0
1,393CS20002,AKASH TORAVI,97,52,149,74.5
2,393CS21702,BIRADAR GURURAJ SIDHARUD,75,21,96,48.0
3,393CS20005,DUGIWADE PRACHI SANJAY,11,23,34,17.0
4,393CS21703,GURUNATH DESHAPANDE,87,92,179,89.5
5,393CS20006,HARSHAD MAHAMMADSAB WALIKAR,45,78,123,61.5
6,393CS20007,IRAMNAAZ JAMKHANDI,97,17,114,57.0
7,393CS20008,JAHID ALI BALABATTI,23,45,68,34.0
8,393CS20009,KRISHNA MAHADEV JADHAV,87,65,152,76.0
9,393CS20010,LAXMI NAVALAGI,61,39,100,50.0
10,393CS20011,MAIBOOBSAB NADAF,33,39,72,36.0
11,393CS21704,MANJU SHIVAJI CHAVAN,53,44,97,48.5
12,393CS20012,MISBA BUDANSAB MOMIN,56,62,118,59.0
13,393CS20013,MODI AVADOOT MAHESH,22,65,87,43.5
14,393CS20015,NADAF NIHAL NASIM,45,20,65,32.5
15,393CS20016,NANDINI NITIN MODI,25,15,40,20.0
16,393CS20017,NEELAVANI VARSHA VITTAL,90,95,185,92.5
17,393CS20018,NEHA PATIL,31,94,125,62.5
18,393CS20019,NIKHEEL,93,3,96,48.0
19,393CS20020,POOJA RAJSHEKHAR ARABI,41,89,130,65.0
20,393CS20022,PRAJWAL D DHAGE,32,57,89,44.5
21,393CS20023,RENUKA ARAKERI,90,91,181,90.5
22,393CS20024,ROSHANI KUMARI,76,72,148,74.0
23,393CS20025,SACHIDANANDA MADIVALESHA BEVINAMARAD,17,30,47,23.5
24,393CS20026,SHAREEKA GUDIYATTAM,58,49,107,53.5
25,393CS21706,SNEHA ASHOK DODAMANI,4,24,28,14.0
26,393CS20028,SPURTI S PATIL,86,70,156,78.0
27,393CS20029,TANISHK BIRADAR,24,87,111,55.5
28,393CS20030,UMARBIN PATIL,20,11,31,15.5
29,393CS21707,VARSHA GALAGALI,37,58,95,47.5
30,393CS20031,VIDYA BABUGOUDA PATIL,95,77,172,86.0
31,393CS20032,VIVEK CHOUDHARY,61,84,145,72.5
32,393CS17009,HAVINAL SHRIDHAR MALLIKARJUN,88,83,171,85.5
33,393CS17015,OMKAR SHARANARTHI,76,31,107,53.5
34,393CS17018,RAHUL BADAKURI,7,31,38,19.0
35,393CS21702,BIRADAR GURURAJ SIDHARUD,77,70,147,73.5
36,393CS21703,GURUNATH DESHAPANDE,43,27,70,35.0
37,393CS21704,MANJU SHIVAJI CHAVAN,10,14,24,12.0
38,393CS21706,SNEHA ASHOK DODAMANI,90,22,112,56.0
39,393CS21707,VARSHA GALAGALI,44,45,89,44.5

## Adding data objects

In [13]:
df1.append(df2)

C:\Users\CS-L1-PC13\AppData\Local\Temp\ipykernel_8400\3062608662.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2)

        Reg_no                       Name    PP   DSP
0   393CS20001  ABHINAV PRASANNA  NAIKODI   NaN   NaN
1   393CS20002              AKASH  TORAVI   NaN   NaN
2   393CS21702   BIRADAR GURURAJ SIDHARUD   NaN   NaN
3   393CS20005    DUGIWADE PRACHI  SANJAY   NaN   NaN
4   393CS21703       GURUNATH  DESHAPANDE   NaN   NaN
..         ...                        ...   ...   ...
35         NaN                        NaN  77.0  70.0
36         NaN                        NaN  43.0  27.0
37         NaN                        NaN  10.0  14.0
38         NaN                        NaN  90.0  22.0
39         NaN                        NaN  44.0  45.0

[80 rows x 4 columns]

In [14]:
pd.concat([df1,df2])

        Reg_no                       Name    PP   DSP
0   393CS20001  ABHINAV PRASANNA  NAIKODI   NaN   NaN
1   393CS20002              AKASH  TORAVI   NaN   NaN
2   393CS21702   BIRADAR GURURAJ SIDHARUD   NaN   NaN
3   393CS20005    DUGIWADE PRACHI  SANJAY   NaN   NaN
4   393CS21703       GURUNATH  DESHAPANDE   NaN   NaN
..         ...                        ...   ...   ...
35         NaN                        NaN  77.0  70.0
36         NaN                        NaN  43.0  27.0
37         NaN                        NaN  10.0  14.0
38         NaN                        NaN  90.0  22.0
39         NaN                        NaN  44.0  45.0

[80 rows x 4 columns]